# Terraform — nunca vai para o git
*.tfstate
*.tfstate.backup
terraform.tfvars
tfplan
.terraform/
.terraform.lock.hcl

# Java
target/
*.class

# IDE
.idea/
.vscode/
*.iml
ansible/vars.yml
ansible/playbooks/vars.yml

# Ficheiros sensíveis
ansible/vars.yml
infrastructure/terraform/terraform.tfvars
infrastructure/terraform/tfplan
*.bak

